@import "tailwindcss";

/* Estilos base personalizados */
body {
  background-color: #f3f4f6;
  color: #111827;
}

/* Estilos para el mapa Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
